<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>tired a</display-name>
  <welcome-file-list>
    <welcome-file>calc.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>cal</display-name>
    <servlet-name>calcu</servlet-name>
    <servlet-class>cal.calcu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcu</servlet-name>
    <url-pattern>/calc</url-pattern>
  </servlet-mapping>

</web-app>